.container {
  display: flex;
  height: 100vh;
  align-items: center;
}

.title {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  color: #a073a4;
}

.left {
  width: 50vw;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}