@use "src/theme" as *;

$btn-color: var(--text);
$primary: var(--primary);

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  color: $btn-color;

  font-size: 20px;
  transition: background 0.2s ease, transform 0.1s ease;

  &:hover {
    color: $primary;
  }
}