.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 35vw;
  border-right: 1px solid #2a2a2a;
  background-color: #d8d8d8;
}

.chatWindow {
  flex: 1;
  background-color: #ff9c9c;
}
